/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

body {
  min-width: 370px;
}

.v-input__details {
  flex-direction: column-reverse;
  padding-inline: 0 !important;
  align-items: start !important;
}